.chb-onboard {
    visibility: hidden;
    /* align-items:unset; */
    margin-left: -40px;
  }
  
  .chb-onboard + label {
    position: absolute;
    padding-left: 5px;
  }
  
  .chb-3-onboard + label::before {
    position: absolute;
    left: -20px;
    top: 4px;
  /*   text-align: center; */
    
    border: 2px solid #0b83e6;
    content: " ";
    width: 20px;
    height: 20px;
    
    transition: all 0.1s ease-in,  border-color 0.05s ease-in;
  }
  
  .chb-3-onboard:checked + label::before {
    transform: rotate(40deg);
    border-top-color: transparent;
    border-left-color: transparent;
    
    top: 2px;
    left: -15px;
    width: 7px;
    height: 14px;
  }

  .listCheckbox{
    min-height: 50%;
    width: 50%;
    background-color: rgba(240, 248, 255, 15%);
    border: 1px solid rgba(240, 248, 255, 0.2);
    box-shadow: 0px 0px 10px 3px rgba(240, 248, 255, 0.2);
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  